
.login{
    animation-duration: 20s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
  }


#welcome, #description{
    color: #ececeb;
    font-family: monospace;
     
}


.stack{
  color: #10316b;
  text-shadow: 0 1px 2px #000000, 0 1px 2px rgb(31, 30, 30);
  font-family: monospace;
  font-size: 1.5em
}
.underFlow{
  color: #e25822;
  font-weight: bold;
  font-family: monospace;
  font-size: 0.9em
}


button {
    padding: 10px;
    border: #00d8ff;
    font-family: fantasy;
    font-size: 20px;
    box-shadow: 0 1px 3px white, 0 1px 3px white; 
    background: rgba(80, 77, 77, 0.555);
    color: white;
    text-shadow: 0 3px 6px black, 0 3px 6px black; 
}

button:hover {     
    color: #000000;
    background: #ececeb;
    box-shadow: 0 3px 6px white, 0 3px 6px white; 
    
}

#login {
  transition: all .2s ease-in-out;
}

  body{
    font-family: 'Roboto', sans-serif;
  }
    .container{
      width:250px;
      height:250px;
      margin:20px auto 0 auto;
      background:black;
  
      display:flex;
      align-items: center;
      justify-content: center;
    }
  
    .react-logo{
      display: inline-block;
      border-radius:50%;
      /* border:10px solid #f5f5f5 ;   */
      animation-name:rotate;
      animation-duration: 45s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  
    }
  
    .react-logo , .react-logo:before , .react-logo:after{
      position:absolute;
      display: inline-block;
      width:200px;
      height:110px;
      border-radius:50%;      
      box-shadow: 0 4px 4px #e25822, 0 2px 8px #3b51cc; 
    }
  
    .nucleo , .react-logo , .react-logo:before , .react-logo:after {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .nucleo{
      width:60px;
      height:60px;
      border-radius:100%;
      background:black;
      box-shadow:6px 1px 6px #10316b, 6px 1px 6px white;
       
      
    }
  
    .react-logo:before , .react-logo:after{
      content:"";
    }
  
    .react-logo:after{
      transform:rotate(-57deg);
    }
  
    .react-logo:before{
      transform:rotate(57deg);
    }

  
    @keyframes rotate{
  
      100%{
        transform:rotate(360deg);
      }
    }


  