.list-overflow-container {
    max-height: 545px;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .list-overflow-container ul {
    margin: 0;
  }
  
  .list-overflow-container li {
    border-radius: 0px;
    border-left: none;
    border-right: none;
  }
  
  .list-overflow-container li * {
    cursor: pointer;
  }
  
  .list-overflow-container li a {
    color: #2A878C;
  }
  
  .list-overflow-container li:first-child {
    border-top: none;
  }
  
  .list-overflow-container li:last-child {
    border-bottom: none;
  }
  
.list-group {
    padding: 20px;
    margin-bottom: 5px;
    
  }


  a {
    color: white;
  }

  a:hover {
    color: #00ACE9;
  }

  p {
    color: white;
  }

  .list-container {
    color: white;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px black, 0 3px 6px black; 
    border: 1px #393e46 solid;
    background: #222831;
    margin: 0px 5px 10px 5px
  
  }

  .list-group {
    overflow: none;
  }



  #container {
    overflow-X: sc
  }

  