#wrapper {
    color: white;
}

.card {
    background: white;
    width: 150px;
}

.cardButton {
    background:gray
}

h2 {
    color: black
}


img {
    border-radius: 0;
}

.linkToJava {
    color:yellow    
}

#html{
    color: rgb(228, 79, 38)
}

#css{
    color: rgb(21, 114, 182)
}

.linkToReact{
    color: rgb(0,216, 255)
}
.card{
    width: 200px;
    background: black;      
    margin-right: 50px;
    display: inline-block;
    text-align: center
    }

.card-container{   
    width: 100%;
    text-align: center;
    display: inline-block;
}