#UserImage {
    border: white solid 2px;
    box-shadow: 0 2px 2px black, 0 2px 2px black; 
    float: left;
    margin-right: 10px;
}
h3 {
    color: white;
}
#userInfo {
    float: left;
    position: relative;
}