#submitPost {
    float: none;
}

#formContainer {
    display: inline-block;
}

#submitPost {
    box-shadow: 0 2px 2px black, 0 2px 2px black;   
    padding: 5px;
    font-size: 20px;
}



#submitPost {
    background: grey;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}

#standard-secondary{
    margin-bottom: 10px;
}



#standard-error, #standard-full-width {
    color: white;
}
