.logout {
    padding: 5px;    
    float: right;
    background: #00ACE9;
    color: white;
    box-shadow: 2px 2px black, 2px 2px black;  
    font-size: 20px;
    font-family: sans-serif;
    transition: all .2s ease-in-out;
    border-radius: 2px;
}

.logout:hover{
   background: red;
   color: white;
}

#container {
    margin-bottom: 15px;
    
}

.links {
    color: white;
    margin: 10px; 
    font-weight: bold;
    float: left;
    
}

.links:hover{
    color: #00ACE9;
    
}

#authenticatedHeader {
    background: #393e46;    
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 2px black, 1px 2px black   
    
}
 a {
    text-decoration: none;
 }

#user {
    float: right;
    margin: 0px 30px 0px 0px;
    font-size: 25px;
    color: white;    
}






@media only screen and (max-width: 426px){ 
    #user  {       
        display: none;
        
    }
    #container{
        margin-bottom: 50px;
    }
    }

@media only screen and (max-width: 500px){ 
    #user  {
        display: none;
    }
    }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 685px){ 
    #user  {
        display: none;
    }
    }





