.login {
    padding: 5px;    
    float: right;
    background: black;
    color: white;
    box-shadow: 0 2px 2px black, 0 2px 2px black;    
    margin-right: 10px;
    background: #00ACE9;
    font-size: 20px;
    transition: all .2s ease-in-out;
    
}

.login:hover{
   background: #D43F3F;
}

#logButton {
margin-bottom: 15px;

}

.links {
    color: white;
    margin: 10px; 
    font-weight: bold;
    
}

.links:hover{
    color: #00ACE9;
    
}

#authenticatedHeader {
    background: #404040;
    margin-bottom: 20px;
    padding: 20px;
}

#user {
    float: right;
    margin: 0px 30px 0px 0px;
    font-size: 25px;
    color: white;
    
}

#userImage {
    float: right;
    margin-right: 20px;   
}

